.table-listing-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-right: 4px;
}

.table-listing-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 16px;
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, rgba(150, 150, 150, 0.8) 0%, rgba(222, 222, 222, 0.8) 70%, rgba(255, 255, 255, 0) 100%);
}

.table-listing-content {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}


.table-listing-container table td,
.table-listing-container table th {
  border: 1px solid #ccc;
  padding: 6px 12px;
}

.table-listing-container table thead th {
  border: 2px solid #000;
}

.table-listing-container table td {

  &:nth-of-type(3),
  &:nth-of-type(4),
  &:nth-of-type(5) {
    white-space: nowrap;
  }

  &:nth-of-type(10),
  &:nth-of-type(13),
  &:nth-of-type(15) {
    min-width: 400px;
  }
}

.form-update {
  margin-bottom: 24px;
}

.form-group {
  padding: 6px;
  margin-bottom: 24px;
}